@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;

  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      margin-right: 15px;
      transform: rotate(-90deg);
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
