.root {
  padding: 100px;
  text-align: center;
  span {
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
    margin-top: 20px;
    line-height: 48px;
  }
}

.description {
  font-size: 20px;
  color: #b0b0b0;
}
