.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 12px 12px;
  padding-left: 32px;
  width: 300px;
  font-size: 16px;
  transition: all 0.3s ease;
  &:focus {
    border-color: rgba(0, 0, 0, 0.3);
    outline: none;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.clearIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}
